<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" />
    <title>@ViewData["Title"] - Web_First</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fontawesome-pro-5.0.13/css/all.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <Link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="back-to-top"><i class="fas fa-angle-up"></i></div>
    <div class="top-information">
        <span class=" top-information_text">Miễn phí vận chuyển với đơn hàng trên 500k</span>
        <div class=" top-information_phone">
            <i class="fa fa-phone"></i>
            <span class=" top-information_phone-number">Hotline: 099 999 999</span>
        </div>
    </div>
    <header class="header">
        <nav class="hidden-sm hidden-xs navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 header_menu scroll-menu" id="scroll-menu">
            <div class="nav-img" id="simg">
                <img id="s1" src="~/Img/logo.webp" />
            </div>

            <div class="container header_menu_text">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse header_menu_text-seletion">
                    <ul class="navbar-nav flex-grow-1 link-selection">
                        <li class="nav-item link-selection-1">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item link-selection-2">
                            <a class="nav-link text-dark a_1" asp-area="" asp-controller="Home" asp-action="Index">Sản Phẩm</a>
                            <i class="fa fa-arrow-down fa1" aria-hidden="true"></i>
                            <ul class="menu_Ao_list">
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a class="link" asp-controller="San_Pham" asp-action="ao">Áo</a>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <ul class="ao hide_s" id="ao">
                                        <li class="a_1 hide_s pk_11" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_sm">Áo Sơ mi</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_thun">Áo thun</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_polo">Áo polo</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_tt">Áo Tank top</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_len">Áo Len</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_st">Áo Nỉ-Sweatshirt</a>
                                        </li>
                                        <li class="a_1 hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_khoac">Áo Khoác</a>
                                        </li>
                                        <li class="hoodie hide_s" id="a_1">
                                            <a asp-controller="San_Pham" asp-action="ao_hd">Áo Hoodie</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--2">
                                    <a class="link" asp-controller="San_Pham" asp-action="quan">Quần</a>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <ul class="quan hide_s" id="quan">
                                        <li class="quan_1 hide_s pk_11">
                                            <a asp-controller="San_Pham" asp-action="quan_jeans">Quần jean</a>
                                        </li>
                                        <li class="quan_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="quan_jj">Quần jogger-dài</a>
                                        </li>
                                        <li class="quan_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="quan_tay">Quần tây</a>
                                        </li>
                                        <li class="quan_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="quan_short">Quần short</a>
                                        </li>
                                        <li class="quan_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="quan_kaki">Quần kaki</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--3">
                                    <a class="link" asp-controller="San_Pham" asp-action="bl_t">Ba lô-Túi xách</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--4">
                                    <a asp-controller="San_Pham" asp-action="giay_dep">Giầy-Dép</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--5">
                                    <a class="link" asp-controller="San_Pham" asp-action="pk">Phụ kiện khác</a>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <ul class="pk hide_s" id="pk">
                                        <li class="pk_1 hide_s pk_11">
                                            <a asp-controller="San_Pham" asp-action="ao_khoac">Bình nước</a>
                                        </li>
                                        <li class="pk_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="non_vo">Nón vớ</a>
                                        </li>
                                        <li class="pk_1 hide_s">
                                            <a asp-controller="San_Pham" asp-action="that_lung">Thắt lưng</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item link-selection-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">New Arrivals</a>
                        </li>
                        <li class="nav-item link-selection-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="San_Pham1" asp-action="Index">Chính sách - Hướng dẫn</a>
                            <i class="fa fa-arrow-down fa1" aria-hidden="true"></i>
                            <ul class="menu_Ao_list cs">
                                <li class="menu_Ao_list_h menu_Ao_list--1 cs_1" id="a">
                                    <a>Chính sách đổi trả</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a>Hướng dẫn đặt hàng</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a>Kiểm tra đơn hàng</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a>Hướng dẫn chọn Size</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item link-selection-5">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Địa chỉ cửa hàng</a>
                            <i class="fa fa-arrow-down fa1" aria-hidden="true"></i>
                            <ul class="menu_Ao_list ch">
                                <li class="menu_Ao_list_h menu_Ao_list--1 ch_1" id="a">
                                    <a>Hà Nội</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a>Đà Nẵng</a>
                                </li>
                                <li class="menu_Ao_list_h menu_Ao_list--1" id="a">
                                    <a>Hồ Chí Minh</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item link-selection-6">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Kiểm tra đơn hàng</a>
                        </li>

                    </ul>
                </div>

            </div>
            <partial name="_LoginPartial" />
            @using Microsoft.AspNetCore.Identity

            @inject SignInManager<IdentityUser> SignInManager
            @inject UserManager<IdentityUser> UserManager
            <div class="header-wrap-icon">
                <span class="icon-account" aria-label="Tài khoản" title="Tài khoản">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Add_SP" asp-controller="Product" />
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" />
                    }

                    <span class="account-menu" aria-hidden="true">
                        <svg class="svg-account" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                        <g><g id="account-circle">
                        <path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
												 c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
												 c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z"></path>
								</g></g>
						</svg>
                    </span>
                    </a>
                </span>
                <span id="site-search-handle" class="icon-search" aria-label="Tìm kiếm" title="Tìm kiếm">
                    <a href="/search">
                        <span class="search-menu" aria-hidden="true">
                            <svg version="1.1" class="svg-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
                            <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path>
                            <rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect>
						</svg>
                        </span>
                    </a>
                </span>
                <span id="site-cart-handle" class="icon-cart" aria-label="Open cart" title="Giỏ hàng">
                    <a>
                        <span class="cart-menu" aria-hidden="true">
                            <svg version="1.1" class="svg-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"> <g> <path d="M0,6v21h24V6H0z M22,25H2V8h20V25z"></path> </g> <g> <path d="M12,2c3,0,3,2.3,3,4h2c0-2.8-1-6-5-6S7,3.2,7,6h2C9,4.3,9,2,12,2z"></path> </g> </svg>
                            <span class="count-holder"><span class="count">0</span></span>
                        </span>
                    </a>
                </span>
                <span id="site-menu-handle" class="hamburger-menu visible-sm visible-xs" aria-hidden="true"><span class="bar"></span></span>
            </div>
        </nav>
        <div class="main-header">
            <div class="header-mid wrap-flex-align">
                <div class="visible-lg visible-md col-header-mid"></div>
                <div class="wrap-logo hidden-lg hidden-md">

                    <a>
                        <img src="/Img/logo.webp" alt="" class="img-responsive logoimg">
                    </a>

                </div>
                <div class="header-wrap-icon">
                    <span id="site-cart-handle" class="icon-cart visible-sm visible-xs" aria-label="Open cart" title="Giỏ hàng">
                        <a>
                            <span class="cart-menu" aria-hidden="true">
                                <svg version="1.1" class="svg-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
                                <g>
                                <path d="M0,6v21h24V6H0z M22,25H2V8h20V25z"></path>
							</g>
                                <g>
                                <path d="M12,2c3,0,3,2.3,3,4h2c0-2.8-1-6-5-6S7,3.2,7,6h2C9,4.3,9,2,12,2z"></path>
							</g>
						</svg>
                                <span class="count-holder"><span class="count">1</span></span>
                            </span>
                        </a>
                    </span>
                    <span id="site-menu-handle" class="hamburger-menu visible-sm visible-xs" aria-hidden="true"><span class="bar"></span></span>
                </div>
            </div>
        </div>

    </header>
    <div class="search-bar-mobile">
        <div class="search-box wpo-wrapper-search">
            <form action="/search" class="searchform searchform-categoris ultimate-search">
                <div class="wpo-search-inner">
                    <input type="hidden" name="type" value="product">
                    <input required="" id="inputSearchAuto-mb" name="q" maxlength="40" autocomplete="off" class="searchinput input-search search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm...">
                </div>
                <button type="submit" class="btn-search btn" id="search-header-btn-mb">
                    <svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect></svg>
                </button>
            </form>
            <div id="ajaxSearchResults-mb" class="smart-search-wrapper ajaxSearchResults" style="display: none">
                <div class="resultsContent"></div>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3 body_SP">
        @RenderBody()
    </main>
    <div id="site-nav--mobile" class="site-nav style--sidebar show-cart">
        <div id="site-navigation" class="site-nav-container">
            <div class="site-nav-container-last">
                <p class="title">Menu</p>
                <div class="main-navbar">
                    <nav class="primary-menu">
                        <ul class="menu-collection">


                            <li class="navi1"><a href="/"><span>TRANG CHỦ</span></a></li>



                            <li class="navi1 has-sub level0">
                                <a href="/collections/all">SẢN PHẨM</a>
                                <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                <ul class=" submenu subnav-children">


                                    <li class="navi2 has-sub level1">
                                        <a href="/collections/all">SALE</a>
                                        <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                        <ul class="submenu subnav-child">

                                            <li class=""><a href="/collections/san-pham-moi">SẢN PHẨM MỚI</a></li>

                                            <li class=""><a href="/collections/san-pham-ban-chay">SẢN PHẨM BÁN CHẠY</a></li>

                                            <li class=""><a href="/collections/hang-sale-149k">SALE 99k 149k 199k 249k</a></li>

                                            <li class=""><a href="/collections/sale-off">ÁO THUN SALE 99K</a></li>

                                        </ul>
                                    </li>



                                    <li class="navi2 has-sub level1">
                                        <a href="/collections/all">ÁO</a>
                                        <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                        <ul class="submenu subnav-child">

                                            <li class=""><a href="/collections/ao-khoac">ÁO KHOÁC</a></li>

                                            <li class=""><a href="/collections/ao-polo">ÁO SƠ MI</a></li>

                                            <li class=""><a href="/collections/ao-thun">ÁO THUN</a></li>

                                            <li class=""><a href="/collections/ao-polo-1">ÁO POLO</a></li>

                                            <li class=""><a href="/collections/ao-len">ÁO LEN</a></li>

                                            <li class=""><a href="/collections/ao-ni">ÁO NỈ</a></li>

                                            <li class=""><a href="/collections/hoodie">HOODIES</a></li>

                                        </ul>
                                    </li>



                                    <li class="navi2 has-sub level1">
                                        <a href="/collections/all">QUẦN</a>
                                        <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                        <ul class="submenu subnav-child">

                                            <li class=""><a href="/collections/quan-jean">QUẦN JEAN</a></li>

                                            <li class=""><a href="/collections/quan-kaki">QUẦN KAKI</a></li>

                                            <li class=""><a href="/collections/quan-tay">QUẦN TÂY</a></li>

                                            <li class=""><a href="/collections/quan-dui">SHORT</a></li>

                                            <li class=""><a href="/collections/joggers">JOGGERS</a></li>

                                            <li class=""><a href="/collections/short-thun">SHORT NỈ, THUN</a></li>

                                        </ul>
                                    </li>



                                    <li class="navi2 has-sub level1">
                                        <a href="/collections/all">PHỤ KIỆN</a>
                                        <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                        <ul class="submenu subnav-child">

                                            <li class=""><a href="/collections/underwear-phu-kien">UNDERWEAR - PHỤ KIỆN</a></li>

                                            <li class=""><a href="/collections/giay-dep">GIÀY - DÉP</a></li>

                                            <li class=""><a href="/collections/non-vo-underwear-phu-kien">NÓN - VỚ</a></li>

                                            <li class=""><a href="/collections/ba-lo">BA LÔ</a></li>

                                            <li class=""><a href="/collections/tui">TÚI</a></li>

                                        </ul>
                                    </li>


                                </ul>
                            </li>



                            <li class="navi1 has-sub level0">
                                <a href="/pages/about-us">HƯỚNG DẪN</a>
                                <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                                <ul class=" submenu subnav-children">


                                    <li class="navi2"><a href="/">HƯỚNG DẪN MUA HÀNG ONLINE</a></li>



                                    <li class="navi2"><a href="/blogs/huong-dan-chon-size">HƯỚNG DẪN CHỌN SIZE</a></li>



                                    <li class="navi2"><a href="/blogs/huong-dan-su-dung-ma-trung-thuong">HƯỚNG DẪN SỬ DỤNG MÃ TRÚNG THƯỞNG</a></li>


                                </ul>
                            </li>



                            <li class="navi1"><a href="/pages/he-thong-cua-hang"><span>ĐỊA CHỈ CỬA HÀNG</span></a></li>


                        </ul>
                        <ul class="menu-about">

                            <li><a href="/search"><span>Tìm kiếm</span></a></li>

                            <li><a href="/pages/about-us"><span>Giới thiệu</span></a></li>

                            <li><a href="/pages/chinh-sach-doi-tra"><span>Chính sách đổi trả</span></a></li>

                            <li><a href="/pages/chinh-sach-bao-mat"><span>Chính sách bảo mật</span></a></li>

                            <li><a href="/pages/dieu-khoan-dich-vu"><span>Điều khoản dịch vụ</span></a></li>




                            <li class="login">
                                <a href="/account/login">
                                    <span>
                                        <svg class="svg-account" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g><g id="account-circle">
                                        <path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
													 c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
													 c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z"></path>
									</g></g>
							</svg>
                                    </span>
                                    <span>Đăng nhập</span>
                                </a>
                            </li>



                        </ul>
                    </nav>
                </div>
                @*<div class="to-bottom-content">
                        <div class="site-copyright">
                            <p class="copy">Copyright © 2020 <a href="https://www.basicman.vn">basicmanstore</a></p>
                            <p class="powered"><a target="_blank" href="https://www.haravan.com">Powered by Haravan</a></p>
                        </div>
                    </div>*@
            </div>

        </div>

        <div id="site-cart" class="site-nav-container" tabindex="-1">
            <div class="site-nav-container-last">
                <p class="title">Giỏ hàng</p>
                <div class="cart-view clearfix">
                    @*<table id="clone-item-cart" class="table-clone-cart">
                            <tbody>
                                <tr class="item_2 hidden">
                                    <td class="img"><a href="" title=""><img src="" alt=""></a></td>
                                    <td>
                                        <a class="pro-title-view" href="" title=""></a>
                                        <span class="variant"></span>
                                        <span class="pro-quantity-view"></span>
                                        <span class="pro-price-view"></span>
                                        <span class="remove_link remove-cart">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                    <form action="/cart" method="post" id="cartformpage">
                        <table id="cart-view">
                            <tbody>
                                <tr class="item_2">
                                    <td class="img"><a href="/products/non-m-l-b-l-a-steel-logo" title="/products/non-m-l-b-l-a-steel-logo"><img src="https://product.hstatic.net/1000253775/product/af0d19f80bdaf084a9cb_cc57f30f0b3c49f18c2593556d255cb1_small.jpg" alt="/products/non-m-l-b-l-a-steel-logo"></a></td>
                                    <td>
                                        <a class="pro-title-view" href="/products/non-m-l-b-l-a-steel-logo" title="/products/non-m-l-b-l-a-steel-logo">Nón M.L.B L.A steel logo</a>
                                        <span class="variant">Đen</span>
                                        <span class="pro-quantity-view">1</span>
                                        <span class="pro-price-view">390,000₫</span>
                                        <span class="remove_link remove-cart">
                                            <a href="javascript:void(0);" onclick="deleteCart(2)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="item_2">
                                    <td class="img"><a href="/products/op-lung-iphone-x-kaw-s" title="/products/op-lung-iphone-x-kaw-s"><img src="https://product.hstatic.net/1000253775/product/img_0689_29c40b0771da4fda996d709455aa3d96_small.jpg" alt="/products/op-lung-iphone-x-kaw-s"></a></td>
                                    <td>
                                        <a class="pro-title-view" href="/products/op-lung-iphone-x-kaw-s" title="/products/op-lung-iphone-x-kaw-s">Ốp lưng IPHONE x KAW.S</a>
                                        <span class="variant">Hồng / 7/8</span>
                                        <span class="pro-quantity-view">1</span>
                                        <span class="pro-price-view">60,000₫</span>
                                        <span class="remove_link remove-cart">
                                            <a href="javascript:void(0);" onclick="deleteCart(1)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="line"></span>
                        <table class="table-total">
                            <tbody>
                                <tr>
                                    <td class="text-left">TỔNG TIỀN:</td>
                                    <td class="text-right" id="total-view-cart">0₫</td>
                                </tr>
                                <tr>
                                    <td><a href="/collections/all" class="linktocart button dark">Tiếp tục mua hàng</a></td>
                                    <td class="checkout">
                                        <button type="submit" id="checkout" class="linktocheckout btn-checkout button dark" name="checkout" value="">Thanh toán</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>
        @*<div id="site-search" class="site-nav-container" tabindex="-1">
                <div class="site-nav-container-last">
                    <p class="title">Tìm kiếm</p>
                    <div class="search-box wpo-wrapper-search">
                        <form action="/search" class="searchform searchform-categoris ultimate-search navbar-form">
                            <div class="wpo-search-inner">
                                <input type="hidden" name="type" value="product">
                                <input required="" id="inputSearchAuto" name="q" maxlength="40" autocomplete="off" class="searchinput input-search search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm...">
                            </div>
                            <button type="submit" class="btn-search btn" id="search-header-btn">
                                <svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect></svg>
                            </button>
                        </form>
                        <div id="ajaxSearchResults" class="smart-search-wrapper ajaxSearchResults" style="display: none">
                            <div class="resultsContent"></div>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng">
                <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
            </button>*@
    </div>
    <div id="site-overlay" class="site-overlay"></div>
    <footer class="border-top footer text-muted info_ft">
        <div class="support-footer footer-top">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg  Hotline_1 hhh bbb">
                        <div>
                            <p>HỖ TRỢ (9:00-21:30)</p>
                            <div class="icon_ht">
                                <i class="fa fa-phone"></i>
                                <a>02871006789 - phím 1</a>
                            </div>
                            <p>Tất cả các ngày trong tuần</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg  Hotline_2 hhh bbb">
                        <div>
                            <p>HỖ TRỢ (9:00-21:00)</p>
                            <div class="icon_ht">
                                <i class="fa fa-phone"></i>
                                <a>02871006789 - phím 2</a>
                            </div>
                            <p>Tất cả các ngày trong tuần</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg  Hotline_3 bbb">
                        <div>
                            <p>ĐĂNG KÝ NHẬN THÔNG TIN MỚI TỪ 160 STORE</p>
                            <input class="email_in" type="email" placeholder="Nhập email của bạn tại đây..." />
                            <input class="button" type="submit" value="Đăng ký" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg  Hotline_4">
                        <div>
                            <p>LIÊN KẾT</p>
                            <div class="icon">
                                <i class="fab fa-facebook-square"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer collapse in" id="fter-content">
            <div class="container-fluid ttt">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg">
                        <div class="footer-col footer-content1">
                            <h4 class="footer-title">
                                STORE
                            </h4>
                            <div class="footer-content" style="display: none;">
                                <p>
                                    STORE là chuỗi cửa hàng bán lẻ thời trang nam với xu hướng thời trang hiện đại luôn luôn cập nhật nhanh nhất những trend thời trang mới trên thế giới. <br>
                                    HKD: Hàng Hiệu
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 gt">
                        <div class="footer-col footer-content1">
                            <h4 class="footer-title">
                                Giới thiệu
                            </h4>
                            <div class="footer-content">
                                <span class="gt_1">Cảm ơn bạn đã tin tưởng</span>
                                <br />
                                <a>
                                    <img src="//theme.hstatic.net/1000333546/1000537194/14/logo-bct.png?v=119" alt="Bộ Công Thương">
                                </a>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 hd">
                        <div class="footer-col footer-content1">
                            <h4 class="footer-title">
                                Hướng dẫn
                            </h4>
                            <div class="footer-content">
                                <a>Chính sách đổi trả</a>
                                <br />
                                <a> Hướng dẫn đặt hàng</a>
                                <br />
                                <a>Kiểm tra đơn hàng</a>
                                <br />
                                <a>Hướng dẫn chọn size</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 dc">
                        <div class="footer-col footer-content1">
                            <h4 class="footer-title">
                                Địa chỉ cửa hàng
                            </h4>
                            <div class="footer-content">
                                <img src="//theme.hstatic.net/1000253775/1000529442/14/banner_cuahang.jpg?v=131" alt="">
                                <div>
                                    <a>Xem địa chỉ cửa hàng </a>
                                    <i class="fa fa-caret-right"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
