.t222 {
    cursor: pointer;
    animation-name: o2;
    animation-duration: 1s;
}

.t111 {
    cursor: pointer;
    animation-name: o1;
    animation-duration: 1s;
}


.t333 {
    cursor: pointer;
    animation-name: o4;
    animation-duration: 5s;
}
.t444 {
    cursor: pointer;
    animation-name: o4;
    animation-duration: 5s;
}
