/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@media only screen and (max-width: 768px) {
  #sidebar {
    width: 100%; } }

@media only screen and (min-width: 769px) {
  #sidebar {
    width: 300px; } }

.back-to-top {
  position: absolute;
  top: 0;
  left: 45%;
  font-size: 3rem;
  transition: all 0.3s;
  opacity: 0;
  z-index: 99999; }

.back-to-top:hover {
  cursor: pointer;
  transform: translateY(-8px); }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all; }

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

html, body {
  width: 100%;
  height: 100%; }

/* Provide sufficient contrast against white background */
a {
  text-decoration: none;
  color: black;
  transition: opacity 150ms linear, color 150ms linear, background 150ms linear; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000000;
  line-height: 1.1; }

* {
  margin: 0;
  padding: 0;
  border: none; }

a:hover {
  text-decoration: none;
  color: coral; }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin: 0 auto; }

.top-information {
  position: relative;
  background-color: beige;
  height: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem; }
  .top-information_text {
    font-size: 12px;
    padding-left: 2rem; }
  .top-information_phone {
    font-size: 15px;
    position: absolute;
    right: 5rem;
    top: 0.2rem; }
    .top-information_phone i {
      transition: all 0.3s; }
    .top-information_phone i:hover {
      cursor: pointer;
      transform: rotate(90deg); }
    .top-information_phone-number {
      color: red;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.4px;
      margin-left: 0.4rem; }

@keyframes scroll-in {
  0% {
    top: 2px; }
  49% {
    top: -14px; }
  50% {
    top: 19px; }
  100% {
    top: 2px; } }

@keyframes scroll-out {
  0% {
    top: 2px; }
  49% {
    top: 19px; }
  50% {
    top: -14px; }
  100% {
    top: 2px; } }

.header {
  height: 10rem; }
  .header_menu {
    height: 11.8rem; }
    .header_menu .nav-img {
      width: 10vw;
      height: 10vh; }
      .header_menu .nav-img img {
        width: 150%;
        height: 120%; }
    .header_menu_text-seletion .link-selection .nav-item {
      margin-left: 1.2rem;
      position: relative; }
      .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list {
        width: 10rem;
        position: absolute;
        top: 2.45rem;
        left: -0.5rem;
        padding-left: 0;
        list-style: none;
        border-top: 2px solid transparent;
        border-top-color: transparent;
        opacity: 0;
        transition: all 0s;
        z-index: -99; }
        .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h {
          position: relative;
          background-color: white;
          padding-left: 10px;
          padding-top: 0.5rem;
          border: 0.5rem solid transparent;
          border-top: 1px solid transparent;
          color: black; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h .link {
            color: black; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h i {
            font-size: 12px;
            margin-left: 5px;
            transition: all 0.3s; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h ul {
            position: absolute;
            top: -0.1rem;
            right: -10.55rem;
            width: 10rem;
            height: 23rem;
            background-color: white;
            list-style: none;
            padding-left: 0rem;
            color: black;
            border-top: 2px solid #8d8b8b;
            opacity: 0;
            transition: all 0.3s; }
            .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h ul li {
              padding-left: 10px;
              padding-bottom: 0.3rem;
              padding-top: 0.3rem;
              border: 0.5rem solid transparent;
              border-top: 1px solid #8d8b8b;
              color: black;
              opacity: 1; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h .ao {
            position: absolute;
            height: 21.3rem;
            opacity: 0;
            background-color: white; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h .quan {
            height: 13.3rem; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h .pk {
            opacity: 0;
            height: 8rem; }
        .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h:hover .link {
          color: #ff6a00; }
        .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h:hover i {
          transform: rotate(180deg); }
        .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h:hover ul {
          opacity: 1;
          z-index: 10; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h:hover ul li {
            opacity: 1; }
          .header_menu_text-seletion .link-selection .nav-item .menu_Ao_list_h:hover ul li:hover {
            color: #ff6a00; }
      .header_menu_text-seletion .link-selection .nav-item .cs {
        font-size: 14px;
        width: 10rem;
        position: absolute;
        top: 2.43rem;
        left: 1.5rem;
        padding-left: 0;
        list-style: none;
        border-top: 2px solid transparent;
        border-top-color: transparent;
        opacity: 0;
        transition: all 0s; }
      .header_menu_text-seletion .link-selection .nav-item .ch {
        font-size: 14px;
        width: 10rem;
        position: absolute;
        top: 2.43rem;
        left: 0.4rem;
        padding-left: 0;
        list-style: none;
        border-top: 2px solid transparent;
        border-top-color: transparent;
        opacity: 0;
        transition: all 0s; }
      .header_menu_text-seletion .link-selection .nav-item--1 {
        border-top: 1px solid transparent; }
    .header_menu_text-seletion .link-selection .nav-link {
      padding-left: 0;
      margin-left: 0.7rem;
      transition: all 0.3s;
      border-bottom: 2px solid transparent; }
    .header_menu_text-seletion .link-selection .fa1 {
      position: absolute;
      top: 0.8rem;
      right: -0.7rem;
      transition: all 0.3s; }
    .header_menu_text-seletion .nav-item:hover {
      color: #ff6a00; }
      .header_menu_text-seletion .nav-item:hover .fa1 {
        transform: rotate(180deg); }
      .header_menu_text-seletion .nav-item:hover .nav-link {
        border-bottom: 2px solid #8d8b8b; }
      .header_menu_text-seletion .nav-item:hover .a_1 {
        border-bottom: 0px solid transparent; }
      .header_menu_text-seletion .nav-item:hover .menu_Ao_list {
        transform: translateY(1.5px);
        border-top: 2px solid #8d8b8b;
        width: 10rem;
        opacity: 1;
        z-index: 999; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list_h {
          background-color: white;
          border: 0.5rem solid white;
          border-top: 1px solid #8d8b8b;
          color: black;
          cursor: pointer; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list--1:hover {
          color: #ff6a00; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list--2:hover {
          color: #ff6a00; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list--3:hover {
          color: #ff6a00; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list--4:hover {
          color: #ff6a00; }
        .header_menu_text-seletion .nav-item:hover .menu_Ao_list--5:hover {
          color: #ff6a00; }
      .header_menu_text-seletion .nav-item:hover .cs {
        transform: translateY(1.5px);
        border-top: 2px solid transparent;
        opacity: 1; }
        .header_menu_text-seletion .nav-item:hover .cs_1 {
          border-top: 1px solid transparent; }
      .header_menu_text-seletion .nav-item:hover .ch {
        transform: translateY(1.5px);
        border-top: 2px solid transparent;
        opacity: 1; }
        .header_menu_text-seletion .nav-item:hover .ch_1 {
          border-top: 1px solid transparent; }
    .header_menu_text-seletion_icon {
      width: 8rem;
      height: 2rem;
      position: relative; }
      .header_menu_text-seletion_icon .fa {
        font-size: 1.5rem;
        margin-left: 0.8rem;
        margin-top: 0.3rem; }
      .header_menu_text-seletion_icon .count {
        position: absolute;
        top: 0;
        right: 0; }
    .header_menu_text .header_menu_icon {
      position: relative;
      top: -1rem;
      text-align: right;
      height: auto;
      width: 5rem; }
      .header_menu_text .header_menu_icon .icon-2 {
        font-size: 1.5rem; }
        .header_menu_text .header_menu_icon .icon-2 .fa-user {
          position: absolute;
          top: 30%;
          left: 23%; }
        .header_menu_text .header_menu_icon .icon-2 .fa-search {
          position: absolute;
          top: 0%;
          right: 10%; }
      .header_menu_text .header_menu_icon .icon-cart {
        position: absolute;
        top: 0%;
        left: 100%;
        margin-top: -1rem; }
        .header_menu_text .header_menu_icon .icon-cart a {
          transition: opacity 150ms linear, color 150ms linear, background 150ms linear; }
          .header_menu_text .header_menu_icon .icon-cart a span {
            display: inline-block;
            margin: 5px 4px 0;
            position: relative;
            transition: opacity 150ms linear; }
            .header_menu_text .header_menu_icon .icon-cart a span svg {
              fill: #252a2b;
              width: 24px;
              height: 24px; }
            .header_menu_text .header_menu_icon .icon-cart a span svg:not(:root) {
              overflow: hidden; }
            .header_menu_text .header_menu_icon .icon-cart a span .count-holder {
              position: absolute;
              top: 6px;
              left: 0;
              text-align: center;
              font-size: 13px;
              line-height: 1;
              font-weight: bold;
              height: 22px;
              overflow: hidden; }
              .header_menu_text .header_menu_icon .icon-cart a span .count-holder .count {
                transition: top 150ms linear;
                position: relative;
                top: 0px;
                animation-duration: 300ms;
                animation-name: scroll-in; }
      .header_menu_text .header_menu_icon .icon-cart:hover .cart-menu .count {
        animation-name: scroll-out; }
    .header_menu_text .header_menu_icon:hover {
      cursor: pointer; }
    .header_menu_text .header_menu_icon > span {
      display: inline-block !important; }

@keyframes animationtest002 {
  0% {
    opacity: 0.5;
    transform: translateY(1px); }
  33% {
    opacity: 0.7;
    transform: translateY(3px); }
  66% {
    opacity: 0.9;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(9px); } }

.footer {
  width: auto;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px; }
  .footer .support-footer {
    padding-top: 5px;
    color: black;
    height: auto;
    width: auto; }
    .footer .support-footer .hhh .icon_ht i {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      color: #ff6a00;
      transition: all 0.3s; }
    .footer .support-footer .hhh .icon_ht a {
      font-size: 1.5rem;
      font-weight: bolder; }
    .footer .support-footer .hhh .icon_ht:hover a {
      color: #ff6a00;
      cursor: pointer; }
    .footer .support-footer .hhh .icon_ht:hover i {
      color: black;
      transform: rotateY(180deg); }
    .footer .support-footer .Hotline_4 {
      padding-left: 1rem; }
      .footer .support-footer .Hotline_4 .icon {
        font-size: 2rem; }
        .footer .support-footer .Hotline_4 .icon .fa-facebook-square {
          color: #1a2bec; }
        .footer .support-footer .Hotline_4 .icon .fa-youtube {
          color: red; }
        .footer .support-footer .Hotline_4 .icon .fab:hover {
          color: peru;
          cursor: pointer; }
    .footer .support-footer .Hotline_3 .email_in {
      height: 2.5rem;
      width: 15rem;
      text-indent: 10px;
      font-size: 12px;
      outline: 1px solid black; }
    .footer .support-footer .Hotline_3 .button {
      height: 2.5rem;
      text-align: center;
      background: #3c3c3c;
      border: 1px solid #3c3c3c !important;
      display: inline-block;
      color: white; }
    .footer .support-footer .Hotline_3 .button:hover {
      background: white;
      color: black; }
  .footer .ttt {
    background-color: antiquewhite;
    margin-top: 3rem;
    width: 100%;
    margin: 0 auto; }
    .footer .ttt p {
      font-size: 1.5rem; }
    .footer .ttt .dc img {
      max-width: 100%; }
    .footer .ttt .dc div a:hover {
      color: brown; }
    .footer .ttt .hd a:hover {
      color: brown; }

div {
  display: block; }

.wrap-collection-title .heading-collection {
  margin: 0; }

.wrap-collection-title .heading-collection h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0; }

.no-product {
  text-align: center; }

.left-module {
  margin: 20px 0 0; }

.wrapper-collection-2 .index-loop-mb:nth-child(odd),
.wrapper-collection-1 .index-loop-mb:nth-child(odd),
#collection-body .pro-loop:nth-child(odd),
.list-productRelated .pro-loop:nth-child(odd) {
  padding-right: 7.5px; }

.wrapper-collection-2 .index-loop-mb:nth-child(even),
.wrapper-collection-1 .index-loop-mb:nth-child(even),
#collection-body .pro-loop:nth-child(even),
.list-productRelated .pro-loop:nth-child(even) {
  padding-left: 7.5px; }

.wrapper-collection-2 .content-hasbanner .index-loop-mb:nth-child(even),
.wrapper-collection-1 .content-hasbanner .index-loop-mb:nth-child(even) {
  padding-left: 15px;
  padding-right: 7.5px; }

.wrapper-collection-2 .content-hasbanner .index-loop-mb:nth-child(odd),
.wrapper-collection-1 .content-hasbanner .index-loop-mb:nth-child(odd) {
  padding-left: 7.5px;
  padding-right: 15px; }

@media screen and (min-width: 992px) {
  .footer-top {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media screen and (min-width: 767px) and (max-width: 992px) {
  .footer-top .col-xs-12 {
    margin-bottom: 10px; }
  .footer-top {
    padding-top: 15px;
    padding-bottom: 5px; }
  .wrapper-home-information .homeStore {
    background-attachment: scroll; } }

@media screen and (max-width: 767px) {
  .footer-top .col-xs-12 {
    margin-bottom: 10px; }
  .footer-top {
    padding-top: 15px;
    padding-bottom: 5px; }
  .wrapper-home-information .homeStore {
    background-attachment: scroll; } }

.wrapper-collection-2 .pro-loop-banner,
.wrapper-collection-1 .pro-loop-banner {
  width: 100%;
  margin-bottom: 30px;
  text-align: center; }

.button {
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  border: 1px solid #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  color: #000000;
  overflow: hidden; }

.button:before {
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: -1;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.button:hover {
  color: #fff; }

.button.dark {
  color: #fff;
  border-color: #fae332; }

.button.dark:before {
  background-color: #fae332; }

.button.dark:hover {
  color: #000000; }

.button:hover:before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

.body_SP {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  overflow: hidden;
  height: auto; }
  .body_SP .pagination-container {
    margin-left: 43%; }
  .body_SP .show {
    margin-bottom: 5rem;
    /*.dropdown-menu {
          //  display: inline-block;
            position: relative;
            vertical-align: middle;
            max-width: 100%;
            overflow: hidden;
            border-radius: 0px;
        }*/ }
  .body_SP h1 {
    font-size: 30px; }
  .body_SP .banner-sp {
    margin-top: -1rem;
    margin-bottom: 0.3rem; }
    .body_SP .banner-sp img {
      max-width: 100%; }
  .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 2px 0 2px; }
    .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block {
      margin-left: 0.33rem;
      width: 96%; }
      .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img {
        text-align: center;
        position: relative;
        max-height: 300px;
        overflow: hidden; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a {
          display: inline-block !important; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:active {
          outline: none; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:hover, .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:focus {
          color: #f56200;
          text-decoration: none;
          outline: none; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:hover, .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:focus {
          color: #23527c;
          text-decoration: underline; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:active, .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a:hover {
          outline: 0; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img a {
          transition: opacity 150ms linear, color 150ms linear, background 150ms linear; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img picture {
          -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-size: 100% 100%; }
          .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img picture img {
            width: 100%;
            max-width: 100%; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img picture:nth-of-type(2) {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          visibility: hidden; }
          .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img picture:nth-of-type(2) img {
            background-size: cover; }
      .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-img:hover picture:nth-of-type(2) {
        opacity: 1;
        visibility: visible; }
      .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail h3 a {
        color: red;
        line-height: 16px;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 18px;
        margin-top: 15px; }
      .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail .box-pro-prices {
        min-height: 40px; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail .box-pro-prices p.pro-price {
          color: #000000;
          font-size: 15px;
          margin: 0;
          text-align: center; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail .box-pro-prices p.pro-price span.pro-price-del {
          color: #939393;
          font-size: 15px;
          margin-left: 5px; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail .box-pro-prices p .giaban {
          color: #000;
          font-weight: 700; }
        .body_SP .wrapper-collection-1 .container-fluid .row .pro-loop .product-block .product-detail .box-pro-detail .box-pro-prices .highlight {
          display: block !important; }
  .body_SP .section-support {
    display: block;
    width: 100%;
    margin-top: 1rem; }
    .body_SP .section-support .flex-container .column-wrap {
      background-color: white;
      text-align: center;
      border: 1px solid #e5e5e5;
      height: auto; }
      .body_SP .section-support .flex-container .column-wrap .support-inner .inner-content {
        margin-top: 1rem; }
      .body_SP .section-support .flex-container .column-wrap .support-inner .inner-icon {
        margin-top: 1.5rem;
        transition: all 0,3s; }
    .body_SP .section-support .flex-container .column-wrap:hover .inner-icon img {
      -webkit-animation: passing 1200ms linear infinite;
      -moz-animation: passing 1200ms linear infinite;
      -ms-animation: passing 1200ms linear infinite;
      -o-animation: passing 1200ms linear infinite;
      animation: passing 1200ms linear infinite; }

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-30%) rotate(0deg);
    transform: translateX(-30%) rotate(0deg);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(0%) rotate(10deg);
    transform: translateX(0%) rotate(10deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(30%) rotate(20deg);
    transform: translateX(30%) rotate(20deg);
    opacity: 0; } }

@keyframes passing {
  0% {
    -webkit-transform: translateX(-30%) rotate(0deg);
    -ms-transform: translateX(-30%) rotate(0deg);
    transform: translateX(-30%) rotate(0deg);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(0%) rotate(10deg);
    -ms-transform: translateX(0%) rotate(10deg);
    transform: translateX(0%) rotate(10deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(30%) rotate(20deg);
    -ms-transform: translateX(30%) rotate(20deg);
    transform: translateX(30%) rotate(20deg);
    opacity: 0; } }
  .body_SP .text-center {
    color: black; }
  .body_SP .product-title {
    margin: 3rem 0 2rem 0; }
    .body_SP .product-title h2 {
      text-align: center; }
  .body_SP .button-showmore {
    text-align: center;
    padding: 15px 0; }
    .body_SP .button-showmore .moreproduct {
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      border-radius: 30px 30px 30px 30px;
      padding: 10px 20px;
      font-size: 16px;
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
      border-color: #fcd203; }
    .body_SP .button-showmore .moreproduct:before {
      background-color: #fcd203; }
    .body_SP .button-showmore .moreproduct:hover {
      color: #fcd203; }
  .body_SP .carousel a .icon {
    width: 3rem;
    height: 3rem; }
  .body_SP .carousel .carousel-indicators .carousel-inner .carousel-item img {
    width: 100%;
    display: block;
    transform-style: preserve-3d;
    background-size: 100% 100%; }
  .body_SP .carousel .carousel-indicators li {
    background-color: red;
    margin-left: 0.5rem; }

.col-xs-6 {
  width: 50%; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.co-dinh-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 5rem;
  width: 100%;
  z-index: 1000; }

.menu1 {
  transition: all 0s;
  transform: translateY(-100rem); }

.h_img {
  height: 5rem; }

.back-top-hide {
  opacity: 1; }

.hide_menu {
  z-index: -99; }

@keyframes o3 {
  0% {
    opacity: 0.4;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes o1 {
  0% {
    opacity: 0.4;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes o2 {
  0% {
    opacity: 0.4;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes o4 {
  0% {
    opacity: 0.4;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.t22 {
  cursor: pointer;
  animation-name: o2;
  animation-duration: 1s; }

.t11 {
  cursor: pointer;
  animation-name: o1;
  animation-duration: 1s; }

.t33 {
  cursor: pointer;
  animation-name: o3;
  animation-duration: 1s; }

.t44 {
  cursor: pointer;
  animation-name: o4;
  animation-duration: 1s; }

@media (min-width: 1024px) {
  .wrapper-collection-1 .pro-loop, .wrapper-collection-2 .pro-loop,
  .search-list-results .pro-loop, #collection .pro-loop.col-5 {
    width: 20%; }
  .wrapper-collection-2 .pro-loop-banner, .wrapper-collection-1 .pro-loop-banner {
    width: 40%;
    margin-bottom: 30px;
    text-align: center; }
  .content-hasbanner .pro-loop:nth-child(5) {
    clear: left; }
  .pro-loop:hover .product-img .button-add {
    opacity: 1;
    visibility: visible;
    bottom: 50%; } }

@media (max-width: 1023px) and (min-width: 992px) {
  .wrapper-collection-2 .pro-loop-banner, .wrapper-collection-1 .pro-loop-banner {
    width: 50%;
    margin-bottom: 30px;
    text-align: center; }
  .content-hasbanner .pro-loop:nth-child(4) {
    clear: left; } }

@media (max-width: 767px) {
  .longarrow {
    display: none; }
  .pro-price-mb {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 9px; }
  .pro-price-mb .pro-price {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    margin-right: 3px; }
  .pro-loop .product-detail {
    padding: 5px 0; } }

.product-loop-special {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 60px; }

.product-loop-special.more-image {
  -webkit-align-items: center;
  align-items: center; }

.product-loop-special .product-width {
  max-width: 270px;
  margin: auto; }

.product-loop-special .product-detail {
  padding: 20px 0; }

.product-loop-special .product-img {
  text-align: center;
  position: relative; }

.product-loop-special .product-detail h3 {
  margin: 0 0 5px;
  font-size: 14px;
  position: relative; }

.product-loop-special .product-detail h3 a {
  line-height: 16px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box; }

.product-loop-special .action .button {
  width: 100%;
  padding: 10px 5px; }

@media (min-width: 768px) {
  .collection-special-one .product-loop-special .product-col-left {
    flex-grow: 2; }
  .collection-special-one .product-loop-special .product-col-right {
    flex-grow: 1;
    padding: 0 80px; } }

@media (min-width: 1024px) {
  .collection-special-one .product-loop-special {
    padding: 0 100px; } }

.collection-special-two .product-loop-special .product-col-left {
  width: 60%; }

.collection-special-two .product-loop-special .product-width {
  max-width: 190px; }

.collection-special-two .product-loop-special .product-col-right {
  padding: 0 0 0 35px; }

.collection-special-two .product-loop-special .product-detail {
  padding: 10px 0; }

@media (max-width: 1200px) and (min-width: 1024px) {
  .collection-special-two .product-loop-special {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .collection-special-two .product-loop-special .product-width {
    max-width: 170px; }
  .collection-special-two .product-loop-special .product-col-right {
    padding: 0 0 0 25px; }
  .collection-special-two .product-loop-special .product-col-left {
    width: 70%; } }

@media (max-width: 767px) {
  .product-loop-special .action .button {
    font-size: 12px; }
  .collection-special-two .product-loop-special .product-width {
    max-width: 130px; }
  .collection-special-one .product-loop-special .product-col-right {
    padding-left: 20px; }
  .collection-special-one .product-loop-special .product-width {
    max-width: 260px; }
  .product-loop-special .product-detail {
    padding: 5px 0; } }
